## Introduction to Q Language

In [4]:
/ Exponent
2 xexp 5

32f

In [6]:
til 5

0 1 2 3 4

In [8]:
2000.01.01 + 1 2

2000.01.02 2000.01.03

In [10]:
2000.01.01 + til 3

2000.01.01 2000.01.02 2000.01.03

In [11]:
/today, yest, day before
.z.D - til 3

2019.04.29 2019.04.28 2019.04.27

## Practice questions
1) Get the type of each of the following: (Done!)

a. 234 <br/>
b. 234f <br/>
c. 2010.05.10 <br/>
d. 12342342332i – what is wrong? How can we fix this? <br/>
e. 2010.05 – how can we force q to interpret this as a month? <br/>
f. type 500.05 – what is the type of the output of the type command? <br/>
g. 3 1 2 <br/>
h. 3 1 2f <br/>
i. (3f;1;2j) <br/>

2) Cast 16:30:00 to int/float/minute/second <br/>
3) Cast the string “12:30:00” to time/minute/second <br/>
4) Cast 123.23 to real <br/>
5) Extract the month, week and year from the date 2015.06.03 <br/>
6) Get the current time/date/minute/second/hour <br/>
7) Cast 1234 to a string <br/>

In [17]:
/1. 
type 234
type 234f
type 2010.05.10
type 12342342332 /int can't take such a big number. Use long
type "m"$2010.05 /convert to month using "$"
type type 500.05
type 3 1 2
type 3 1 2f
type (3f;1;2j)

-7h

-9h

-14h

-7h

-13h

-5h

7h

9h

0h

In [33]:
/ Cast 16:30:00 to int/float/minute/second 
"i"$16:30:00
"f"$16:30:00
"u"$16:30:00
`uu$16:30:00 /Get numerical minutes
`minute$16:30:00 /to minute precision
"v"$16:30:00
`ss$16:30:05 /Get numerical seconds

59400i

59400f

16:30

30i

16:30

16:30:00

5i

In [37]:
/Cast the string “12:30:00” to time/minute/second 
"T"$"12:30:00" /capital letter so that it interprets whole string as a whole rather than each individual atom
"T"$("12:30:00"; "18:30:00")
"U"$"12:30:00"
`uu$"T"$"12:30:00"  /convert string to time and then to get minutes
"V"$"12:30:00"

12:30:00.000

12:30:00.000 18:30:00.000

12:30

30i

12:30:00

In [22]:
/Cast 123.23 to real 
"e"$123.23

123.23e

In [40]:
/Extract the month, week and year from the date 2015.06.03 
`mm$2015.06.03
`dd$2015.06.03

`week$2015.06.03
`year$2015.06.03

6i

3i

2015.06.01

2015i

In [46]:
/Get the current time/date/minute/second/hour 
`time$.z.T
.z.D
"u"$.z.T
`minute$.z.T
`mm$.z.T
"v"$.z.T
`second$.z.T
`ss$.z.T

`hh$.z.T

11:54:38.150

2019.04.29

11:54

11:54

54i

11:54:38

11:54:38

38i

11i

In [29]:
/Cast 1234 to a string
string 1234

"1234"