# Day 2: Intermediate Q Language

## Chapter 7: Functions

1)	Create the following functions: <br>
>i. ___f___ which takes two parameters and adds them <br>
ii. ___f1___ which is equivalent to the mathematical function <br>
res = - (y*((x+1)^2))/ (((x+1)*2) - 1) <br>
(Try to avoid using brackets as much as possible) <br>

2)	Get “o” from “hello” in as many different ways using different q functions <br>
3)	For the string “kdb plus is fun” <br>
>a. Get the indices of blank spaces <br>
b. Get the indices of non-blank spaces <br>
c. Replace the blank spaces in the sentence with “_” so it reads “kdb_plus_is_fun” <br>
d. Return a 4 item list of symbols: \`kdb\`plus\`is\`fun <br>
e. Given the list of symbols returned in d, create the string “Kdb Plus Is Fun” – note the first letters in the list are lowercase but in the result are uppercase <br>

In [20]:
f:{[x;y] x+y}
f:{x+y}
f[1;2]

f: {neg y*p*p % -1 + 2*p:x+1}

f1[2;3]
//f1: {[x;y] -1*((-1 + 2 xexp x+1) % y * 2*(x+1)}

3

-4.54715

In [24]:
str: "hello"
str[4]
str [-1 + count str]

str ss "o"  //to get index of substring in word

"o"

"o"

,4

In [36]:
//a. Get the indices of blank spaces 
//b. Get the indices of non-blank spaces 
//c. Replace the blank spaces in the sentence with “” so it reads “kdbplus_is_fun” 
//d. Return a 4 item list of symbols: `kdb`plus`is`fun 
//e. Given the list of symbols returned in d, create the string “Kdb Plus Is Fun” – note the first letters in the list are lowercase but in the result are uppercase 

str: "kdb plus is fun"

str ss " "

//b
(til count str) except str ss " " //get all indices and remove indices of blank spaces
except[til count str; str ss " "]

//c
ssr[str; " "; "_"]

//d
b: " " vs str
b
c: `$b
c

//e
s: `$" " vs str
cap:{ssr[x;x 0; upper]}   //capitalises first element in string
" " sv cap each string s  //"each" string s will run function for all strings in list s
//sv is used to convert from scalar to vector. Concatenate

c: `$" " vs str
d:string c
d[;0]:upper d[;0]   //replace first letter to capital
" " sv d            //concatenate

3 8 11

0 1 2 4 5 6 7 9 10 12 13 14

0 1 2 4 5 6 7 9 10 12 13 14

"kdb_plus_is_fun"

"kdb"
"plus"
"is"
"fun"

`kdb`plus`is`fun

"Kdb Plus Is Fun"

"Kdb Plus Is Fun"

## Chapter 8: Dictionaries

1)	Create a dictionary called airportName with the following key/value pairs: <br>
>i.	JFK | John F Kennedy <br>
ii.	DUB | Dublin International <br>
iii.	LON | London Heathrow <br>
iv.	Update the value of LON to ‘London Stansted’ <br>
v.	Add ‘SAN | San Francisco’ to the dictionary <br>
vi.	In one execution, return the list of airport names corresponding to DUB, LON and SAN <br>

In [44]:
airportName: (`JFK; `DUB; `LON)! ("John F Kennedy"; "Dublin International"; "London Heathrow")
airportName

airportName[`LON]: "London Stansted"
airportName

airportName[`SAN]: "San Francisco"
airportName

airportName[`JFK`DUB`LON]

JFK| "John F Kennedy"
DUB| "Dublin International"
LON| "London Heathrow"

JFK| "John F Kennedy"
DUB| "Dublin International"
LON| "London Stansted"

JFK| "John F Kennedy"
DUB| "Dublin International"
LON| "London Stansted"
SAN| "San Francisco"

"John F Kennedy"
"Dublin International"
"London Stansted"

2)	Create the dictionary jumbledDict: (10000?500)!10000?\`4 <br>
>a.	In one execution - return the values corresponding to keys of the numbers 1 to 10 <br>
b.	Write code to see if \`abcd exists in the values of jumbledDict <br>
c.	Sort the dictionary alphabetically by the values <br>
d.	How many unique keys are there in this dictionary? <br>
e.	Convert all of the values to uppercase. <br>

In [78]:
jumbledDict: (10000?500)!10000?`4 

//a
jumbledDict[1_til 11]

//b
jumbledDict?`abcd

//c
jumbledDict_sort: (jumbledDict?(asc value jumbledDict))!(asc value jumbledDict)
jumbledDict_sort

asc jumbledDict

//d
count distinct key jumbledDict

//e
jumbledDict_upper: (key jumbledDict)!(upper value jumbledDict)
jumbledDict_upper

upper jumbledDict

`hemm`hdnc`jhmj`ihnm`klml`pjeb`cbeh`hoki`dmea`ifjg

2

470| aaag
95 | aaah
354| aaba
418| aabg
312| aabm
82 | aada
203| aadf
498| aadh
205| aadj
205| aadj
114| aadn
416| aaef
458| aaeh
355| aaek
7  | aafd
7  | aafd
375| aafl
3  | aagp
257| aahf
31 | aaia
355| aain
228| aajj
..

470| aaag
95 | aaah
354| aaba
418| aabg
312| aabm
82 | aada
203| aadf
498| aadh
205| aadj
163| aadj
114| aadn
416| aaef
458| aaeh
355| aaek
7  | aafd
470| aafd
375| aafl
3  | aagp
257| aahf
31 | aaia
355| aain
228| aajj
..

500

422| PDHJ
273| NCOI
153| KJFO
204| MCDA
39 | ANEE
270| PNBG
99 | GJCK
51 | BMNO
368| HPOD
418| NHIH
377| LFGO
258| HIPP
133| EHDA
107| PGCB
437| DKNB
267| AAKN
452| DCIC
487| ANIF
136| GAMK
417| EEOH
150| PHMD
259| OFEM
..

422| PDHJ
273| NCOI
153| KJFO
204| MCDA
39 | ANEE
270| PNBG
99 | GJCK
51 | BMNO
368| HPOD
418| NHIH
377| LFGO
258| HIPP
133| EHDA
107| PGCB
437| DKNB
267| AAKN
452| DCIC
487| ANIF
136| GAMK
417| EEOH
150| PHMD
259| OFEM
..

3)	defunctDict1:\`a\`b\`c!5.5 9 Try and execute this command. <br>
a.	Why do we get an error? <br>

In [53]:
//defunctDict1:`a`b`c!5.5 9
defunctDict1:`a`b`c!5 5 9

//Because it got 3 keys but 2 values

4)	Create a dictionary dicts with the following keys: nums, times, dates. <br>
The values for each respective key (in italics below) should each be themselves a dictionary with the following key/value pairs. <br>
nums  <br>
1| one <br>
2| two <br>
3| three <br>
<br>

times <br>
12:00| noon <br>
00:00| midnight <br>

dates <br>
2015.06.03| today <br>
2015.06.02| yesterday <br>

>a. Write code to return the entire dictionary <br>
b. Write code to return the word ‘two’ <br>

In [58]:
numDict: (1 2 3)!(`one; `two; `three)
timeDict: (12:00;00:00)!(`noon; `midnight)
dateDict: (2015.06.03; 2015.06.02)!(`today; `yesterday)
dataDict: (`nums; `times; `dates)!(numDict; timeDict; dateDict)
dataDict

dataDict[`nums; 2]

nums | 1 2 3!`one`two`three
times| 12:00 00:00!`noon`midnight
dates| 2015.06.03 2015.06.02!`today`yesterday

`two