# Day1:  Introduction to Q Language

## Chapter 1: Data types

In [4]:
/ Exponent
2 xexp 5

32f

In [6]:
til 5

0 1 2 3 4

In [8]:
2000.01.01 + 1 2

2000.01.02 2000.01.03

In [10]:
2000.01.01 + til 3

2000.01.01 2000.01.02 2000.01.03

In [11]:
/today, yest, day before
.z.D - til 3

2019.04.29 2019.04.28 2019.04.27

#### Practice questions

1) Get the type of each of the following: (Done!)

a. 234 <br/>
b. 234f <br/>
c. 2010.05.10 <br/>
d. 12342342332i – what is wrong? How can we fix this? <br/>
e. 2010.05 – how can we force q to interpret this as a month? <br/>
f. type 500.05 – what is the type of the output of the type command? <br/>
g. 3 1 2 <br/>
h. 3 1 2f <br/>
i. (3f;1;2j) <br/>

In [17]:
/1. 
type 234
type 234f
type 2010.05.10
type 12342342332 /int can't take such a big number. Use long
type "m"$2010.05 /convert to month using "$"
type type 500.05
type 3 1 2
type 3 1 2f
type (3f;1;2j)

-7h

-9h

-14h

-7h

-13h

-5h

7h

9h

0h

In [33]:
/ Cast 16:30:00 to int/float/minute/second 
"i"$16:30:00
"f"$16:30:00
"u"$16:30:00
`uu$16:30:00 /Get numerical minutes
`minute$16:30:00 /to minute precision
"v"$16:30:00
`ss$16:30:05 /Get numerical seconds

59400i

59400f

16:30

30i

16:30

16:30:00

5i

In [37]:
/Cast the string “12:30:00” to time/minute/second 
"T"$"12:30:00" /capital letter so that it interprets whole string as a whole rather than each individual atom
"T"$("12:30:00"; "18:30:00")
"U"$"12:30:00"
`uu$"T"$"12:30:00"  /convert string to time and then to get minutes
"V"$"12:30:00"

12:30:00.000

12:30:00.000 18:30:00.000

12:30

30i

12:30:00

In [22]:
/Cast 123.23 to real 
"e"$123.23

123.23e

In [40]:
/Extract the month, week and year from the date 2015.06.03 
`mm$2015.06.03
`dd$2015.06.03

`week$2015.06.03
`year$2015.06.03

6i

3i

2015.06.01

2015i

In [46]:
/Get the current time/date/minute/second/hour 
`time$.z.T
.z.D
"u"$.z.T
`minute$.z.T
`mm$.z.T
"v"$.z.T
`second$.z.T
`ss$.z.T

`hh$.z.T

11:54:38.150

2019.04.29

11:54

11:54

54i

11:54:38

11:54:38

38i

11i

In [29]:
/Cast 1234 to a string
string 1234

"1234"

## Chapter 2: List

#### Practice Questions

1) Get “f” from “Vodafone” (Hint: indexing)  <br/>
2) Create the list d defined as (”abcd”;10 5 0f;(2;33;`x`y`z);”hello”;1 3e) <br/>
3) Get the 1st, 3rd and 5th elements from d <br/>
4) Get the 1st and 2nd element of each element of d by eliding an index <br/>
5) Replace the 3rd item of d with (“hi”;3.2) <br/>
6) Create a list e containing two strings, "hello" and "world" <br/>
7) Create a list called f containing the following elements: <br/>

a. The symbols `ab and `bc <br/>
b. The number 12 <br/>
c. The list e <br/>

8) Extract the symbol `bc from f <br/>
9) Extract the string “hello” from f <br/>
10) Extract the character “r” from f <br/>

In [1]:
str: "Vodafone"
str[4]

"f"

In [4]:
d: ("abcd";10 5 0f;(2;33;`x`y`z);"hello";1 3e) 
d

"abcd"
10 5 0f
(2;33;`x`y`z)
"hello"
1 3e

In [5]:
//Get the 1st, 3rd and 5th elements from d 
d[0 2 4]

"abcd"
(2;33;`x`y`z)
1 3e

In [6]:
//Get the 1st and 2nd element of each element of d by eliding an index 
d[;0 1]

a  b
10 5
2  33
h  e
1  3

In [8]:
//Replace the 3rd item of d with (“hi”;3.2) 

d[2]: ("hi", 3.2)
d

"abcd"
10 5 0f
("h";"i";3.2)
"hello"
1 3e

In [9]:
//Create a list e containing two strings, "hello" and "world" 
e: ("hello"; "world")
e

"hello"
"world"

In [11]:
//7) Create a list called f containing the following elements: 

//a. The symbols ab andbc 
//b. The number 12 
//c. The list e 

f: (`ab`bc; 12; e)
f

`ab`bc
12
("hello";"world")

In [15]:
//8) Extract the symbol `bc from f 
//9) Extract the string “hello” from f 
//10) Extract the character “r” from f 

f[0;1]
f[2;0]
f[2;1;2]

`bc

"hello"

"r"

In [26]:
rand 2
10?3

1

3 1 2 3 2 3 2 1 1 2

## Chapter 3: Tables

#### Practice questions <br/>
1) Create the table t1:([] sym:`a`b`c`d; price:1 2 3 4f) <br/>

a. Use the insert syntax to insert the symbols `e->`g and the prices 5->7. Do it as a bulk insert. <br/>
b. Extract the 3rd row from t1. What is its type? <br/>

In [36]:
t1: ([] sym:`a`b`c`s; price:1 2 3 4f)
`t1 insert(`e`g;5 7)
t1

sym price
---------
a   1
b   2
c   3
s   4

In [27]:
tableNew: ([]sym:20?`A`B`C;price:1+20?1.0;size:50*1+20?5)
tableNew

sym price    size
-----------------
C   1.633041 250
B   1.575269 100
C   1.009012 50
A   1.144806 50
C   1.770613 150
B   1.369611 100
A   1.117535 150
B   1.923439 200
A   1.401594 250
B   1.561904 150
C   1.724948 200
A   1.811203 250
C   1.208661 50
A   1.990712 250
A   1.57948  150
A   1.902971 50
A   1.201158 150
B   1.068324 50
C   1.598917 200
B   1.048817 150

In [28]:
select avg price, sum size by sym from tableNew where size>=200

sym| price    size
---| -------------
A  | 1.734503 750
B  | 1.923439 200
C  | 1.652302 650

## Chapter 4: REad from CSV

#### Practice Question

1)	The file “trade.csv” is a comma-separated text file with the following fields <br>
>• date (list of dates) <br>
• sym (list of symbols) <br>
• size (list of integers) <br>
• price (list of floating-point values) <br>
• cond (list of characters) <br>

Import this file as a table into a q session, including all columns from the source file. <br>

In [32]:
tradeData: ("DSHFC";enlist csv)0:`:data/trade.csv
tradeData

date       sym size price    cond
---------------------------------
2018.01.20 hle 28   256.3122 A
2018.01.26 nma 17   272.9862 A
2018.01.27 hbe 11   432.4631 B
2018.03.03 plb 55   155.7182 I
2018.02.12 hpj 51   406.6239 B
2018.01.13 ggm 81   64.59691 I
2018.02.23 cce 68   73.87733 B
2018.02.13 jcd 96   137.1135 B
2018.02.12 cpd 61   281.7527 A
2018.04.04 pjb 70   441.9115 I
2018.03.06 epj 70   121.9597 I
2018.01.11 eka 39   335.9063 A
2018.02.22 mpn 76   431.9796 A
2018.01.04 nog 26   421.9904 A
2018.04.05 hol 91   271.3185 A
2018.01.09 kkf 83   38.78666 I
2018.01.01 peg 76   318.7318 I
2018.02.12 jcg 88   488.0623 B
2018.02.16 dlh 4    269.8408 B
2018.02.28 cme 56   358.1429 I
..

In [34]:
select from tradeData where cond="A", date=2018.01.20

date       sym size price    cond
---------------------------------
2018.01.20 hle 28   256.3122 A
2018.01.20 ipj 17   93.63172 A

## Chapter 6: QSQL

#### Practice Question

1)	In a q session, create a table trade containing date, time, sym, side, price fields. Fill the table with 
10000 random records with the following constraints: <br>
>- 3 different dates (e.g. today, yesterday, day before yesterday) 
- random times (e.g. between 00:00:00.000 and now) 
- 5 different syms: \`VOD.L\`BMW.DE\`AAA.L\`FDP.L\`GOOG.NY 
- 2 sides:\`B\`S 
- price between 0 and 200 
<br>

a. Select from trade all buy side trades (\`B) made by \`AAA.L on one particular date. <br>
b. Repeat 2 applying the where constraints in the order side, sym, date. How long does it take to do this 1000 times? Repeat in the order date, sym, side. How long does this take? <br>
c. Select all trades made today with a price between 100 and 110 <br>
d. Generate a count of the number of trades each sym made with the same conditions as 4 <br>
e. On the third day, \`AAA.L was renamed to \`BBB.L. Update trade to reflect this change <br>
f. Delete all trades where the price was greater than 190 (keyword ‘delete’) <br>
g. Get a list of syms, that traded on the last 2 days, that end in .L (keyword ‘like’) <br>
h. By sym, calculate the maximum, minimum and average price as well as the spread (max-min) of trades made in the first minute of the second day on the buy side only. <br>

In [102]:
table: ([]date:10000?.z.D-til 3; time: 10000?.z.T; sym: 10000?`VOD.L`BMW.DE`AAA.L`FDP.L`GOOG.NY;
    side: 10000?`B`S; price: 10000?200)
table

date       time         sym     side price
------------------------------------------
2019.04.29 07:03:25.465 VOD.L   B    13
2019.04.27 05:19:28.658 BMW.DE  B    66
2019.04.27 11:11:49.741 FDP.L   B    164
2019.04.29 09:05:10.701 VOD.L   S    92
2019.04.29 02:44:15.369 VOD.L   B    197
2019.04.27 03:38:25.574 BMW.DE  S    70
2019.04.28 03:51:01.545 GOOG.NY B    171
2019.04.28 13:53:44.289 FDP.L   S    71
2019.04.28 10:53:41.299 BMW.DE  S    131
2019.04.29 00:23:35.101 VOD.L   B    113
2019.04.29 14:37:38.589 FDP.L   B    55
2019.04.27 12:17:49.315 FDP.L   B    63
2019.04.28 03:09:40.361 AAA.L   S    8
2019.04.28 02:05:13.010 FDP.L   B    25
2019.04.28 08:48:41.478 BMW.DE  B    86
2019.04.29 04:55:04.512 GOOG.NY B    18
2019.04.29 08:40:25.396 FDP.L   B    1
2019.04.27 04:56:13.249 GOOG.NY B    63
2019.04.28 04:45:54.759 VOD.L   S    26
2019.04.27 06:04:40.703 BMW.DE  B    146
..

In [48]:
//a. Select from trade all buy side trades (`B) made by `AAA.L on one particular date. 
select from table where sym=`AAA.L, side=`B, date=.z.D

date       time         sym   side price
----------------------------------------
2019.04.29 08:19:07.842 AAA.L B    0
2019.04.29 08:32:57.241 AAA.L B    174
2019.04.29 02:36:53.290 AAA.L B    81
2019.04.29 10:33:59.992 AAA.L B    179
2019.04.29 08:04:04.611 AAA.L B    42
2019.04.29 10:33:56.466 AAA.L B    172
2019.04.29 11:00:45.276 AAA.L B    76
2019.04.29 07:29:24.656 AAA.L B    56
2019.04.29 04:30:35.472 AAA.L B    189
2019.04.29 13:22:29.545 AAA.L B    115
2019.04.29 06:52:45.114 AAA.L B    150
2019.04.29 11:52:54.735 AAA.L B    110
2019.04.29 11:25:55.137 AAA.L B    13
2019.04.29 11:38:58.000 AAA.L B    170
2019.04.29 14:12:53.249 AAA.L B    27
2019.04.29 13:37:11.153 AAA.L B    69
2019.04.29 01:01:41.165 AAA.L B    71
2019.04.29 11:57:57.899 AAA.L B    112
2019.04.29 01:08:25.913 AAA.L B    18
2019.04.29 06:49:05.437 AAA.L B    145
..

In [58]:
//b. Repeat 2 applying the where constraints in the order side, sym, date.
//How long does it take to do this 1000 times? Repeat in the order date, sym, side. How long does this take? 

select from table where side=`B, sym=`AAA.L, date=.z.D

date       time         sym   side price
----------------------------------------
2019.04.29 08:19:07.842 AAA.L B    0
2019.04.29 08:32:57.241 AAA.L B    174
2019.04.29 02:36:53.290 AAA.L B    81
2019.04.29 10:33:59.992 AAA.L B    179
2019.04.29 08:04:04.611 AAA.L B    42
2019.04.29 10:33:56.466 AAA.L B    172
2019.04.29 11:00:45.276 AAA.L B    76
2019.04.29 07:29:24.656 AAA.L B    56
2019.04.29 04:30:35.472 AAA.L B    189
2019.04.29 13:22:29.545 AAA.L B    115
2019.04.29 06:52:45.114 AAA.L B    150
2019.04.29 11:52:54.735 AAA.L B    110
2019.04.29 11:25:55.137 AAA.L B    13
2019.04.29 11:38:58.000 AAA.L B    170
2019.04.29 14:12:53.249 AAA.L B    27
2019.04.29 13:37:11.153 AAA.L B    69
2019.04.29 01:01:41.165 AAA.L B    71
2019.04.29 11:57:57.899 AAA.L B    112
2019.04.29 01:08:25.913 AAA.L B    18
2019.04.29 06:49:05.437 AAA.L B    145
..

In [70]:
select date,time,sym,side,price from table where date=.z.D, sym=`AAA.L, side=`B

date       time         sym   side price
----------------------------------------
2019.04.29 08:19:07.842 AAA.L B    0
2019.04.29 08:32:57.241 AAA.L B    174
2019.04.29 02:36:53.290 AAA.L B    81
2019.04.29 10:33:59.992 AAA.L B    179
2019.04.29 08:04:04.611 AAA.L B    42
2019.04.29 10:33:56.466 AAA.L B    172
2019.04.29 11:00:45.276 AAA.L B    76
2019.04.29 07:29:24.656 AAA.L B    56
2019.04.29 04:30:35.472 AAA.L B    189
2019.04.29 13:22:29.545 AAA.L B    115
2019.04.29 06:52:45.114 AAA.L B    150
2019.04.29 11:52:54.735 AAA.L B    110
2019.04.29 11:25:55.137 AAA.L B    13
2019.04.29 11:38:58.000 AAA.L B    170
2019.04.29 14:12:53.249 AAA.L B    27
2019.04.29 13:37:11.153 AAA.L B    69
2019.04.29 01:01:41.165 AAA.L B    71
2019.04.29 11:57:57.899 AAA.L B    112
2019.04.29 01:08:25.913 AAA.L B    18
2019.04.29 06:49:05.437 AAA.L B    145
..

In [105]:
//c. Select all trades made today with a price between 100 and 110
select from table where date=.z.D, price within (100;110)

date       time         sym     side price
------------------------------------------
2019.04.29 03:15:10.096 AAA.L   B    101
2019.04.29 12:47:18.045 BMW.DE  B    103
2019.04.29 15:12:47.230 GOOG.NY S    106
2019.04.29 03:57:29.857 FDP.L   S    108
2019.04.29 13:49:34.628 FDP.L   S    105
2019.04.29 05:15:25.090 FDP.L   B    100
2019.04.29 11:37:17.819 GOOG.NY B    108
2019.04.29 09:10:03.577 AAA.L   B    107
2019.04.29 09:38:21.400 VOD.L   S    108
2019.04.29 08:08:23.342 VOD.L   S    107
2019.04.29 14:59:18.080 GOOG.NY B    102
2019.04.29 08:53:34.353 BMW.DE  B    105
2019.04.29 07:02:14.748 FDP.L   B    110
2019.04.29 14:35:54.272 VOD.L   S    101
2019.04.29 00:13:32.804 FDP.L   S    108
2019.04.29 02:09:40.083 FDP.L   S    109
2019.04.29 10:00:10.477 GOOG.NY S    107
2019.04.29 06:21:32.352 FDP.L   B    102
2019.04.29 00:58:27.986 VOD.L   S    103
2019.04.29 07:18:53.085 AAA.L   B    108
..

In [107]:
//d. Generate a count of the number of trades each sym made with the same conditions as 4 
select number: count i by sym from table

sym    | number
-------| ------
AAA.L  | 2004
BMW.DE | 1946
FDP.L  | 1975
GOOG.NY| 2009
VOD.L  | 2066

In [82]:
//e. On the third day, `AAA.L was renamed to `BBB.L. Update trade to reflect this change
select sym from table where date=.z.D-2

sym
-------
BMW.DE
AAA.L
GOOG.NY
VOD.L
BMW.DE
FDP.L
FDP.L
GOOG.NY
AAA.L
GOOG.NY
BMW.DE
VOD.L
BMW.DE
BMW.DE
GOOG.NY
GOOG.NY
GOOG.NY
AAA.L
AAA.L
GOOG.NY
..

In [81]:
//f. Delete all trades where the price was greater than 190 (keyword ‘delete’) 
table_2: delete from table where price>190
//or
delete from `table where price>190

In [108]:
//g. Get a list of syms, that traded on the last 2 days, that end in .L (keyword ‘like’) 
select distinct(sym) from table where date>.z.D-2, sym like "*.L"

sym
-----
VOD.L
FDP.L
AAA.L

In [110]:
//h. By sym, calculate the maximum, minimum and average price as well as the spread (max-min) of trades made in the first 
//minute of the second day on the buy side only. 
select max_price:max(price), min_price:min(price), avg_price:avg(price), spread:max(price)-min(price) by sym from table where date=.z.D-1, ("u"$time)<00:01, side=`B

sym  | max_price min_price avg_price spread
-----| ------------------------------------
AAA.L| 194       100       147       94
FDP.L| 196       196       196       0
VOD.L| 180       159       169.5     21