<h2>Requirements for Data Science Example + Group Exercise</h2>
<ul>
<li>Tables</li>
<li>qSQL</li>
</ul>

# Introduction to kdb+ - Day Two

## Agenda

Day 1 Recap + Questions 

1.	Data types
2.	Lists
3.	Tables 
4.	Reading from a csv
5.	qSQL 
6.	embedPy <i>(optional)</i>
<br><br>
7.	Functions
8.	Dictionaries <i>(optional)</i>
9.	Keyed Tables <i>(optional)</i>
10.	Joins <i>(optional)</i>
11.	Data Science Example
12.	Group Exercise

Review and Q&A

## 1 Data types

There are q data types to cover almost all of the potential uses you may require however a few are used more frequently. The data type of any object in kdb+ can be determined using the type function. This will return a number which corresponds to the data type in the table below.

In [1]:
type 42

type 42.0

-7h

-9h

### Long

The most common data type used for integer values in q is long. The long data type is a 64-bit signed integer and is represented by the letter j. When we type a number in q without specifically indicating its type, it will automatically be created as a long.

In [2]:
42

type 42

42

-7h

The minimum and maximum numbers that can be represented in a long data type are -9223372036854775806 and 9223372036854775806 respectively. Null long types are represented by 0Nj or 0N, and positive or negative infinity are represented by 0Wj and -0Wj or 0W and -0W.

### Float

The most common data type used for representing floating point numbers are floats. This is an 8-byte value conforming to the IEEE floating-point specification. Floats in q are represented by the letter f.

In [3]:
42.0

type 42.0

type 40+2.5

type 40%2

42f

-9h

-9h

-9h

Null float types are represented by 0Nf or 0n, and positive or negative infinity are represented by 0Wf and -0Wf or 0w and -0w.

### Boolean

Boolean values in q are stored in a single byte and are represented by the letter b. One way to generate a boolean value is to test for equality.

In [4]:
42=40
42=40+2

//the use of ~ and =

0b

1b

### Date

The date data type is regularly used in q and is represented by the letter d. Under the covers dates are all integer values and are the number of days <b>since the millenium</b>, positive numbers for post and negative numbers for pre. This means that we can add days to a date using simple arithmetic.

In [5]:
type 2000.01.01

"i"$2000.01.01

"i"$1999.12.31

"i"$2000.01.02

2000.01.01+5

-14h

0i

-1i

1i

2000.01.06

### Timespan

Similarly to date data types, timespans are also represented by integers under the covers, showing the number of nanoseconds since midnight. They are represented by the letter n.

In [6]:
type 12:00:00.000000000

"j"$12:00:00.000000000

-16h

43200000000000

### Timestamp

Timestamps are the concatenation of dates and timespans and can be created by entering the value into the console literally, or by adding a timespan to a date. They are represented by the letter p.

In [7]:
type 2018.01.01D12:00:00.000000000

2018.01.01+12:00:00.000000000

-12h

2018.01.01D12:00:00.000000000

### Symbol

There are 2 data types in q for handling textual data. Here we will look at the symbol data type, represented by the letter s. Symbols are akin to VARCHAR or string data types in other languages, however strings are very different in q. While they represented a series of letters, symbols in q are viewed as a single item and are highly optimised for performance. They have different behaviour when they are saved into kdb+ compared to strings. Symbols are defined by using back quote (back tick in kdb speak) before a series of letters.

In [8]:
type `ABC

-11h

### Practice questions

1)	Get the type of each of the following: <br>
> a.	234 <br>
b.	234f <br>
c.	2010.05.10 <br>
d.	12342342332i – what is wrong? How can we fix this? <br>
e.	2010.05 – how can we force q to interpret this as a month? <br>
f.	type 500.05 – what is the type of the output of the type command? <br>
g.	3 1 2 <br>
h.	3 1 2f <br>
> i.	(3f;1;2j) <br>

2)	Cast 16:30:00 to int/float/minute/second <br>
3)	Cast the string “12:30:00” to time/minute/second (use capital letter for casting from list)<br> 
4)	Cast 123.23 to real <br>
5)	Extract the month, week and year from the date 2015.06.03 <br>
6)	Get the current time/date/minute/second/hour <br>
7)	Cast 1234 to a string <br>

In [9]:
"U"$"12:30:00"
"V"$"12:30:00"

12:30

12:30:00

## 2 Lists

There are two different types of lists in q. Firstly we will look at simple lists or vectors which consist of a series of atoms of the same type. E.g.

In [10]:
L:10 20 30            // simple list of longs
F:3.4 5.0 3.1         // simple list of floats
I:3 4 5 6i            // simple list of ints
H:100 200 300h        // simple list of shorts
str:"hello there"     // simple list of chars (also called a string)
s:`JPM`GE`IBM         // simple list of symbols

When we take the type of a simple list, we get a positive number, which represents the type of all the atoms in that list. This differs from taking the type of an atom which returns a negative number:

In [11]:
type L

type 10

type s

type `JPM

7h

-7h

11h

-11h

In q we also have general lists, which consists of a list of different types, or items which may also be lists:

In [12]:
person:(`John;32;`USA)
matrix:(1 2 3;4 5 6)

A general list has type 0h

In [13]:
type person

type matrix

0h

0h

In the case of person, each item is an atom whereas each item in matrix is a simple list

In [14]:
type person 0                   // a symbol

type person 1                   // a long

type matrix 0                   // a simple list of longs

type matrix 1                   // a simple list of longs

-11h

-7h

7h

7h

For one dimensional lists one or more items may be extracted from a simple list by typing the index or indices you are looking for.

For a list with N items, the indices range from 0 up to N-1

In [15]:
L:10 20 30 40 50

count L

L 0           // obtain first item

L 4           // obtain last item

L 0 1 2       // first 3 items

L 0 0 0       // you can repeat an index if you wish

L 4 2         // or specify any incides you like

5

10

50

10 20 30

10 10 10

50 30

You may also use square brackets when indexing the list

In [16]:
L[0]

L[3 2 1]

10

40 30 20

A simple list is deemed to have a depth of 1 since its items are atoms. A general list that itself contains simple lists is said to have a depth of 2

In [17]:
G:(10 20 30;100 200 300)

G[0;0]            // returns the first item of the first item

G[0;0 1]          // returns the first two items of the first item

G[0 1;0 1]        // returns the first two items of the first two items

10

10 20

10  20
100 200

When indexing at depth, there is a way of saying you want all items at that level without having to know how many items are in the list

In [18]:
M:(1 2 3 4;10 20 30 40;100 200 300 400)       // create a 3 x 4 matrix (a general list of depth 2)
M[0 1 2;0]                                    // give me the first item in each item

M[;0]                                         // same as above, leaving the first empty basically means 'give me everything at that level'

1 10 100

1 10 100

The q language has some useful built-in functions that can be used to glean information about a list. Below is a list of some of those functions.

### count

In [19]:
count 10 20 30

count 011b

count "hello"

3

3

5

### first

In [20]:
first 10 20 30

first 011b

first "hello"

10

0b

"h"

### last

In [21]:
last 10 20 30

last 011b

last "hello"

30

1b

"o"

### max

In [22]:
max 4 6 2 3

max 3.2 3.7 3.1 3.4

6

3.7

### min

In [23]:
min 4 6 2 3

min 3.2 3.7 3.1 3.4

2

3.1

### Practice questions

1)	Get “f” from “Vodafone” <br>
2)	Create the list d defined as (”abcd”;10 5 0f;(2;33;\`x\`y\`z);”hello”;1 3e) <br> 
3)	Get the 1st, 3rd and 5th elements from d <br>
4)	Get the 1st and 2nd element of each element of d by eliding an index <br>
5)	Replace the 3rd item of d with (“hi”;3.2) <br>
6)	Create a list e containing two strings, "hello" and "world" <br>
7)	Create a list called f containing the following elements: <br>
>a.	The symbols \`ab and \`bc <br>
b.	The number 12 <br>
c.	The list e <br>

8)	Extract the symbol \`bc from f <br>
9)	Extract the string “hello” from f <br>
10)	Extract the character “r” from f <br>

## 3 Tables

Tables form the core of Kx technology. Here we will go through how to create a table and insert data into a table.

### Creating a table

Below is a simple definition of an empty table called trade

In [24]:
trade:([]sym:`$();size:`long$();price:`float$())
trade   // horizontal lines are the signature in the display of a table

sym size price
--------------

As you can see, the definition comprises ( ) brackets with empty square brackets at the start. These are important to differentiate between a table and a list.
Instead of creating an empty table, let's create the trade table with initial values in it:

In [25]:
trade:([]sym:`JPM`IBM`BP;size:100 25 54;price:3.45 5.21 6.33)
trade

sym size price
--------------
JPM 100  3.45
IBM 25   5.21
BP  54   6.33

### Inserting into a table

The __insert__ function may be used to append data to the table. The syntax is: <br>
`tableName insert data <br>
It is important to use the table name as opposed to the table itself.

In [26]:
trade:([]sym:`$();size:`long$();price:`float$())
trade

`trade insert(`BP;100;2.44)  // insert returns the index / indices that the data has been inserted into
trade

sym size price
--------------

,0

sym size price
--------------
BP  100  2.44

Data can be bulk inserted

In [27]:
`trade insert(`IBM`AAPL;200 300;5.53 4.39)  // 2 indices returned      
trade

1 2

sym  size price
---------------
BP   100  2.44
IBM  200  5.53
AAPL 300  4.39

A table is a collection of lists of equal length (called columns)

In [28]:
trade `size           // I can extract a column list with lookup notation similar to dictionaries

trade.price           // or dot notation similar to namespaces

trade`sym`size        // I can extract multiple columns

100 200 300

2.44 5.53 4.39

BP  IBM AAPL
100 200 300

### Practice questions

1)	Create the table t1:([] sym:\`a\`b\`c\`d; price:1 2 3 4f) <br>
>a.	Use the insert syntax to insert the symbols \`e->\`g and the prices 5->7. Do it as a bulk insert. <br>
b.	Extract the 3rd row from t1. What is its type? <br>

## 4 Reading from a csv

There are several ways we can read data from a csv using q. Here we will look at 2 methods, read0 and 0:

### read0

read0 returns the lines of the file as a list of strings. Lines are assumed delimited by either LF or CRLF, and the delimiters are removed.

In [29]:
read0 `:Training/exercise1.csv // you need to put exercise1.csv in the same directory as the notebook

"sym,price,qty"
"A,1,100"
"B,2,200"
"C,3,300"

### 0:

0: returns the data from a file in table format. We supply a list of types of each of the columns, along with the delimiter. The file is then read into kdb+ with the types we have supplied.

If we supply the types as “*” the columns will be read in as strings:

In [30]:
("***";csv)0:`:Training/exercise1.csv

"sym"   ,"A"  ,"B"  ,"C"
"price" ,"1"  ,"2"  ,"3"
"qty"   "100" "200" "300"

Enlisting the delimiter will read the first row in as headers and the subsequent rows as the columns of the table:

In [31]:
("***";enlist csv)0:`:Training/exercise1.csv

sym  price qty
----------------
,"A" ,"1"  "100"
,"B" ,"2"  "200"
,"C" ,"3"  "300"

Finally, we can specifiy the types of each column when reading in:

In [32]:
("SFJ";enlist csv)0:`:Training/exercise1.csv

sym price qty
-------------
A   1     100
B   2     200
C   3     300

### Practice questions

1)	The file “trade.csv” is a comma-separated text file with the following fields <br>
>• date (list of dates) <br>
• sym (list of symbols) <br>
• size (list of integers) <br>
• price (list of floating-point values) <br>
• cond (list of characters) <br>

Import this file as a table into a q session, including all columns from the source file. <br>

## 5 qSQL

For those of you who have SQL experience, the syntax of writing queries in q will be very similar. First lets define a table we can query:

In [33]:
trade:([]sym:`JPM`GE`JPM`GE`MSFT;size:100 300 200 500 200;price:3.50 4.21 5.44 6.22 5.44;exchange:`N`T`N`N`T)
trade

sym  size price exchange
------------------------
JPM  100  3.5   N
GE   300  4.21  T
JPM  200  5.44  N
GE   500  6.22  N
MSFT 200  5.44  T

### Selecting columns

To select columns from a table, simply add the columns in between the select and from words:

In [34]:
select sym from trade                     // select one column

sym
----
JPM
GE
JPM
GE
MSFT

In [35]:
select sym,size from trade                // select multiple columns, separated by ,

sym  size
---------
JPM  100
GE   300
JPM  200
GE   500
MSFT 200

In [36]:
select sym,sz:size from trade             // give column a different name in result set

sym  sz
--------
JPM  100
GE   300
JPM  200
GE   500
MSFT 200

### Filtering the dataset

To filter the result set on one or more clauses, we can use the where clause

In [37]:
select from trade where sym=`JPM

select from trade where sym in`JPM`MSFT

select from trade where sym in`JPM`MSFT,size=200

sym size price exchange
-----------------------
JPM 100  3.5   N
JPM 200  5.44  N

sym  size price exchange
------------------------
JPM  100  3.5   N
JPM  200  5.44  N
MSFT 200  5.44  T

sym  size price exchange
------------------------
JPM  200  5.44  N
MSFT 200  5.44  T

The columns of a table are lists, and we can perform operations on them like we can any list

In [38]:
select sum size from trade

select max size from trade

select min price from trade

select total:size*price from trade

size
----
1300

size
----
500

price
-----
3.5

total
-----
350
1263
1088
3110
1088

### The by clause

Instead of operating over the full column, it may be desirable to perform an operation for each unique item in another column or columns.

In [39]:
select max size by sym from trade                         // get maximum size per sym

select high:max size,low:min size by sym from trade       // multiple columns returned, giving each column a custom name

select avg price by sym,exchange from trade               // use multiple columns in by clause

sym | size
----| ----
GE  | 500
JPM | 200
MSFT| 200

sym | high low
----| --------
GE  | 500  300
JPM | 200  100
MSFT| 200  200

sym  exchange| price
-------------| -----
GE   N       | 6.22
GE   T       | 4.21
JPM  N       | 4.47
MSFT T       | 5.44

### Practice questions

1)	In a q session, create a table trade containing date, time, sym, side, price fields. Fill the table with 
10000 random records with the following constraints: <br>
>- 3 different dates (e.g. today, yesterday, day before yesterday) 
- random times (e.g. between 00:00:00.000 and now) 
- 5 different syms: \`VOD.L\`BMW.DE\`AAA.L\`FDP.L\`GOOG.NY 
- 2 sides:\`B\`S 
- price between 0 and 200 
<br>

a. Select all buy side trades (\`B) made by \`AAA.L on one particular date. <br>
b. Repeat 2 applying the where constraints in the order side, sym, date. How long does it take to do this 1000 times? Repeat in the order date, sym, side. How long does this take? <br>
c. Select all trades made today with a price between 100 and 110 <br>
d. Generate a count of the number of trades each sym made with the same conditions as c <br>
e. On the third day, \`AAA.L was renamed to \`BBB.L. Update trade to reflect this change <br>
f. Delete all trades where the price was greater than 190 (keyword ‘delete’) <br>
g. Get a list of syms, that traded on the last 2 days, that end in .L (keyword ‘like’) <br>
h. By sym, calculate the maximum, minimum and average price as well as the spread (max-min) of trades made in the first minute of the second day on the buy side only. <br>

## 6 embedPy

Once you have installed embedPy, it is very simple to run python commands from within your q terminal. For installation instructions and more information on the use of embedPy see: https://code.kx.com/q/ml/embedpy/

### Running Python commands

The interface allows execution of Python code directly in a q console or from a script. In both console and scripts, prefix Python code with *p)*

In [40]:
p)print(1+2)

3

Q scripts (but not the console) can load and execute multiline Python code. Prefix the first line of the code with *p)* and indent subsequent lines of Python code according to the usual Python indentation rules.

$ cat embedPytest.q
a:1                   / q code
p)def add1(arg1):     # Python code
    return arg1+1     # still Python code

In [41]:
\l Training/embedPytest.q
p)print(add1(12))

13

Full scripts of Python code can be executed in q, using the *.p* file extension (not .py). The script is loaded as usual.

$ cat helloq.p 
print("Hello q!")

In [42]:
\l Training/helloq.p

Hello q!

## 7 Functions

A function allows a sequence of expressions to be evaluated in q, having optional input parameters and a return value. First we will go through how to define a q function and apply a function.

### Defining a function

The syntax of function definition is a matching pair of braces { and } enclosing (optional) parameters followed by a sequence of expressions. <br>
Below is a list of examples of simple function definition:

{[x] x*x}
{x*x}
{[x;y] a:x*x; b:y*y; r:a+b; r}

A function can be assigned to a variable just like a long or float, whereupon it acquires a name (optional).

In [1]:
f:{[x] x*x}
g:{[x;y] x+y}

### Applying a function

When we apply the function, it causes the expressions in the function body to be evaluated in sequence, substituting the value of each argument for the corresponding input parameters.

In [2]:
{[x] x*x}[3]

f:{[x] x*x}
f[4]

{[x;y] x+y}[3;4]

g:{[x;y] x+y}
g[3;4]

9

16

7

7

It is important that the number of input parameter(s) in application match with the function definition. An application with too many arguments generates a `rank error.

In [44]:
{[x] x*x}[3;4]

rank: rank

### Local variables vs. global variables

A variable that is assigned with : within a function body is called a __local variable__.

In [45]:
f:{a:42; a+x}                         // a is a local variable

Some notes on local variables:
-	A local variable exists only for the duration of an application. 
-	A local variable is not visible outside its immediate scope of definition.
-	A local variable cannot be used as an argument to a q function that uses call-by-name.
-	A local variable is not visible within the body of a local function defined in the same scope.

A variable assigned outside any function definition is called a __global variable__. Global variables are visible inside any function body.

In [46]:
b:7
f:{b*x}
f[6]

42

The maximum number of global variables that can be referenced in a function is 32. <br>
We can also assign the global variables within a function using __set__ (call-by-name) or double colon (::) provided there is no local variable with the same name.

In [47]:
a:42                      // using set
f:{a:98.6; `a set x}
f 43
a

`a

43

In [48]:
b:6                                      
f:{b::7; x*b}
f[6]
b     // using :: (no local-global name collision): assign successfully as global

42

7

In [49]:
b:6                                               
f:{b:42; b::x; b}
f[98]
b      // using :: (local-global name collision): assigns the local, not the global

98

6

### Practice questions

1)	Create the following functions: <br>
>i. ___f___ which takes two parameters and adds them <br>
ii. ___f1___ which is equivalent to the mathematical function <br>
res = - (y*((x+1)^2))/ (((x+1)*2) - 1) <br>
(Try to avoid using brackets as much as possible) <br>

2)	Get “o” from “hello” in as many different ways using different q functions <br>
3)	For the string “kdb plus is fun” <br>
>a. Get the indices of blank spaces <br>
b. Get the indices of non-blank spaces <br>
c. Replace the blank spaces in the sentence with “_” so it reads “kdb_plus_is_fun” <br>
d. Return a 4 item list of symbols: \`kdb\`plus\`is\`fun <br>
e. Given the list of symbols returned in d, create the string “Kdb Plus Is Fun” – note the first letters in the list are lowercase but in the result are uppercase <br>

## 8 Dictionaries

A dictionary is an association between a domain __list__ of keys and a co-domain __list__ of values.

### Creating a dictionary

To create a dictionary, we use the ! operator. The syntax is:

keys!values

In [50]:
10 20 30!1.1 2.2 3.3
//show ktab:([keY:10 20 30]val:1.1 2.2 3.3)
`a`b`c!100 200 300

dict:`Tom`War`John!10 20 30
dict`War

10| 1.1
20| 2.2
30| 3.3

a| 100
b| 200
c| 300

20

Neither the keys nor values need be simple lists. Either of them can be nested lists. Below are some examples:

In [51]:
(`Arthur`Dent; `Zaphod`Beeblebrox; `Ford`Prefect)! 100 42 150

1001 1002 1003!(`Arthur`Dent; `Zaphod`Beeblebrox; `Ford`Prefect)

Arthur Dent      | 100
Zaphod Beeblebrox| 42
Ford   Prefect   | 150

1001| Arthur Dent
1002| Zaphod Beeblebrox
1003| Ford   Prefect

A dictionary can be decomposed into its key and value lists using the primitives *key* and *value*. The common number of keys or values is returned by count. All dictionaries have type 99h.

In [52]:
d:`a`b`c!100 200 300

key d

value d

count d

type d

`a`b`c

100 200 300

3

99h

You can create a general empty dictionary using empty key and value lists:

In [53]:
()!()

or a typed empty dictionary using typed empty key and value lists.

In [54]:
(`symbol$())!`float$()

Because both the keys and values are required to be lists, we must __enlist atoms__ for a singleton dictionary.

In [55]:
(enlist `x)!enlist 42

x| 42

### Dictionary lookup

To find the output value corresponding to an input key, we look up the key. We use the same notation as indexing into a list:

In [56]:
d:`a`b`c!10 20 30

d[`a]

d `b

d[`a`c]

d[`x]             // lookup of a value not in the key list results in a null

d?10 //reverse lookup

10

20

10 30

0N

`a

### Amending a dictionary

The items of a dictionary can be modified via assignment to a key.

In [57]:
d:`a`b`c!10 20 30

d[`b]:42                   // update
d

a:`a`b`c`c!10 20 30 40
a
/(distinct key a)!raze ((value a) (til count a) except b), avg (value a) b:where `c =key a

a| 10
b| 42
c| 30

a| 10
b| 20
c| 30
c| 40

Moreover, dictionaries can be __extended__ via assignment.

In [58]:
d:`a`b`c!10 20 30
d[`x]:42                   // insert
d

a| 10
b| 20
c| 30
x| 42

### Removing entries

We use _ to remove key-value pairs in a dictionary. A list of keys is the left operand and a dictionary is on the right.

In [59]:
til 5
2_til 5

0 1 2 3 4

2 3 4

In [60]:
d:`a`b`c!10 20 30

`a`c _ d                // whitespace is required to the left of _

(enlist `b) _ d

`x`a _ d                // removing a key that does not exist has no effect

`a`b`c _ d             // the console will not display the empty dictionary

b| 20

a| 10
c| 30

b| 20
c| 30

### Column dictionaries

Here we will introduce column dictionaries, which are the foundation for tables. It is a very useful type of dictionary that maps a simple life of symbol to a rectangular list of lists.

In [61]:
`c1`c2!(`a`b`c; 10 20 30)

c1| a  b  c
c2| 10 20 30

Let’s make another column dictionary that holds the names of famous galactic travelers and their IQ scores, named travelers.

In [62]:
travelers:`name`iq!(`Dent`Beeblebrox`Prefect;42 98 126)
travelers

name| Dent Beeblebrox Prefect
iq  | 42   98         126

To index into the column dictionary, we can try:

In [63]:
travelers[`name][1]

`Beeblebrox

In [64]:
travelers[`name][1]

travelers[`iq][2]

travelers[`name; 1]            // indexing at depth

travelers[`iq; 2]

`Beeblebrox

126

`Beeblebrox

126

Thus travelers can be considered a two-dimensional entity indexed by name in the first slot.

A column dictionary can be transposed with the __flip__ operator. A transposed column dictionary is stored in column order as a __table__.

In [65]:
dc:`c1`c2!(`a`b`c; 10 20 30)
dc

t:flip dc
t

type t                 // table

c1| a  b  c
c2| 10 20 30

c1 c2
-----
a  10
b  20
c  30

98h

The flip of a transposed column dictionary is a (the original) column dictionary.

In [66]:
dc~flip flip dc

dc~flip t

1b

1b

### Practice questions

1)	Create a dictionary called airportName with the following key/value pairs: <br>
>i.	JFK | John F Kennedy <br>
ii.	DUB | Dublin International <br>
iii.	LON | London Heathrow <br>
iv.	Update the value of LON to ‘London Stansted’ <br>
v.	Add ‘SAN | San Francisco’ to the dictionary <br>
vi.	In one execution, return the list of airport names corresponding to DUB, LON and SAN <br>

2)	Create the dictionary jumbledDict: (10000?500)!10000?\`4 <br>
>a.	In one execution - return the values corresponding to keys of the numbers 1 to 10 <br>
b.	Write code to see if \`abcd exists in the values of jumbledDict <br>
c.	Sort the dictionary alphabetically by the values <br>
d.	How many unique keys are there in this dictionary? <br>
e.	Convert all of the values to uppercase. <br>

3)	defunctDict1:\`a\`b\`c!5.5 9 Try and execute this command. <br>
a.	Why do we get an error? <br>
4)	Create a dictionary dicts with the following keys: nums, times, dates. <br>
The values for each respective key (in italics below) should each be themselves a dictionary with the following key/value pairs. <br>
nums  <br>
1| one <br>
2| two <br>
3| three <br>
<br>

times <br>
12:00| noon <br>
00:00| midnight <br>

dates <br>
2015.06.03| today <br>
2015.06.02| yesterday <br>

>a. Write code to return the entire dictionary <br>
b. Write code to return the word ‘two’ <br>

## 9 Keyed Tables

A keyed table is __not__ a table - it is a __dictionary__ that maps from each row in a table of keys (presumably unique but not enforced) to a corresponding row in a table of values. 
<br>

We first create a keyed table by establishing the association between two separate tables:

In [67]:
v:flip `name`iq!(`Dent`Beeblebrox`Prefect;98 42 126)
v
k:flip (enlist `eid)!enlist 1001 1002 1003
k
kt:k!v     // keyed table
kt

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126

eid
----
1001
1002
1003

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

The console display of a keyed table is the combination of dictionary display and table display. It lists the key column(s) on the left, separated by a vertical bar from the value columns on the right. <br>

The above definition of a keyed table can be simplified into:

In [68]:
kt:(flip (enlist `eid)!enlist 1001 1002 1003)!flip `name`iq!(`Dent`Beeblebrox`Prefect;98 42 126)

We can also place the key column(s) inside the square brackets in the notation for a (regular) table to get a keyed table.

In [69]:
kt:([eid:1001 1002 1003] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
kt

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

### Accessing records

Since a keyed table is a dictionary mapping, we can simply access to records by its key value.

In [70]:
kt[1002]

name| `Beeblebrox
iq  | 42

We can also look up the value for an individual column. The following two examples are equivalent.

In [71]:
kt[1002][`iq]

kt[1002;`iq]         // depth notation

kt[1002]`iq

42

42

42

### Tables vs. Keyed Tables

It is possible to convert dynamically between a regular table having a column of potential key values and the corresponding keyed table using __xkey__. The right operand is the source table/keyed table and the left operand is a symbol (or list of symbols) with the column name(s) to be used as the key.

In [72]:
t:([] eid:1001 1002 1003; name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
`eid xkey t                 // key column(s) on the left, table on the right

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

To convert a keyed table back to a regular table, use __xkey__ as well with an empty general list as the left operand.

In [73]:
kt:([eid:1001 1002 1003] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
kt

() xkey kt

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

eid  name       iq
-------------------
1001 Dent       98
1002 Beeblebrox 42
1003 Prefect    126

In [74]:
10j = 10i //only matches the value
10j ~ 10i //has to match value and type

1b

0b

### Practice questions

1)	Create an unkeyed table called __quote__ and a keyed table called __quotek__ (with sym as the key) using below values: <br>
>>i. sym:\`IBM.L\`VOD.L\`VED.L <br>
ii. price:50.3 12.1 151.56 <br>
iii. size: 1000 200 60 <br>

>a. What is the type of __quotek__? <br>
b. Amend __quote__ directly to make it a keyed table using sym as the key? <br>
c. Use the match operator to see if the amended quote table and __quotek__ are equivalent? <br>
What is happening when you use ‘=’ instead of match (match operator is ~)? <br>
d. Amend __quote__ again to make it unkeyed. <br>
e. Order the table __quote__ by descending price. <br>
f. Rename the __price__ column to be called __last_price__. <br>

## 10 Joins

A join sews back together along a foreign key/primary linkage data that has been factored into normal form. There are built-in left outer join(__lj__) and inner join (__ij__) in q. There is also a join operator , which is essentially the same as UNION in SQL.

In [75]:
abc:([]a:1 2 3 4;b:10 20 30 40;c:100 200 300 400)
def:([a:2 3]d:2000 3000)
abc
def
abc lj def
abc ij def

a b  c
--------
1 10 100
2 20 200
3 30 300
4 40 400

a| d
-| ----
2| 2000
3| 3000

a b  c   d
-------------
1 10 100
2 20 200 2000
3 30 300 3000
4 40 400

a b  c   d
-------------
2 20 200 2000
3 30 300 3000

### lj

A left outer join (lj) includes all records in the left operand, pairing them with records having matching key in the right operand, should such exist. If you need a right join, just reverse the operands. The syntax is: <br>

*source lj target* (*target* must be a keyed table, *source* can be a regular table or keyed table having either a foreign to target or column(s) that match the key column(s) of *target* in name and type)

In [76]:
t:([] k:1 2 3 4; c:10 20 30 40)        // regular table (source)
kt:([k:2 3 4 5]; v:200 300 400 500)    // keyed table (target)
t lj kt

kt1:([k:1 2 3 4]; v:10 0N 30 40)       // keyed table (source)
kt:([k:2 3 4 5]; v:200 300 400 500)    // keyed table (target)
kt1 lj kt

k c  v
--------
1 10
2 20 200
3 30 300
4 40 400

k| v
-| ---
1| 10
2| 200
3| 300
4| 400

### ij

Inner join (ij) behaves almost identically to lj, expect that it omits all the unmatched records from the result set. The syntax is:
<br>

*source ij target*

In [77]:
t:([] k:1 2 3 4; c:10 20 30 40)           // regular table (source)
kt:([k:2 3 4 5]; v:2.2 3.3 4.4 5.5)       // keyed table (target)
t ij kt

k c  v
--------
2 20 2.2
3 30 3.3
4 40 4.4

In [78]:
t:([] k:1 2 3 4; v:10 20 30 40)
kt:([k:2 3 4 5]; v:200 300 400 500)
t ij kt                                    // upsert for duplicate columns

k v
-----
2 200
3 300
4 400

In [79]:
kt1:([k:1 2 3 4]; v:10 0N 30 40)           // keyed table (source)      
kt:([k:2 3 4 5]; v:200 300 400 500)        // keyed table (target)
kt1 ij kt

k| v
-| ---
2| 200
3| 300
4| 400

### Join operator (,)

The join operator , is defined for tables and keyed tables since they both comprise lists of records. 
<br>

You can use , to append a record to (a copy of) a table, but no type checking will be performed.

In [80]:
t:([] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
t
t,`name`iq!(`Slaartibartfast; `123)

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126

name            iq
--------------------
Dent            98
Beeblebrox      42
Prefect         126
Slaartibartfast `123

Tables having __exactly the same__ *meta* result/schema can be joined to form a table. The result is obtained by appending the records of the right operand to those of the left.

In [81]:
t
t,([] name:1#`W; iq:1#26)

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126
W          26

In [82]:
t,t

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126
Dent       98
Beeblebrox 42
Prefect    126

Two keyed tables with the same *meta* result can be joined with , as well. The right operand is upserted into the left.

In [83]:
kt:([eid:1001 1002 1003] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
kt,([eid:1003 1004] name:`Prefect`W; iq:150 26)       // upsert

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    150
1004| W          26

### Column join

Two tables with the same number of records can be joined sideways with join-each (,') to create a column join in which the columns are aligned in parallel.

In [84]:
(a:([] c1:`a`b`c)),'b:([] c2:100 200 300)
a
b
p:`a`b`c
l:1 2 3
p,'l
p,l

c1 c2
------
a  100
b  200
c  300

c1
--
a
b
c

c2
---
100
200
300

`a 1
`b 2
`c 3

`a
`b
`c
1
2
3

In [85]:
([] c1:`a`b`c; c2:1 2 3),'([] c2:100 200 300)    // upsert with common

c1 c2
------
a  100
b  200
c  300

A sideways join on keyed tables requires that the key records conform, meaning that the key columns must have identical *meta*. The columns from the right operand are aligned along common keys and appended elsewhere.

In [86]:
([k:1 2 3] v1:10 20 30),'([k:3 4 5] v2:1000 2000 3000)

k| v1 v2
-| -------
1| 10
2| 20
3| 30 1000
4|    2000
5|    3000

### Practice questions

1)	Create a table __trade__ with columns: sym,price,size, of count 10. Sym column data should be generated from the syms \`A\`B\`C\`D and suitable values should be chosen for price and size. <br>
Define the following table: <br>
__industry__:([sym:\`A\`B\`C\`E];ind:\`IT\`Finance\`Media\`Transport) <br>
>a. Join the __industry__ and __trade__ tables to produce a table which is the intersection of the tables <br>
b. Join __industry__ and __trade__ so that an ind column is added to the __trade__ table. All original entries that were in trade should still be present where there is no corresponding ind for a sym there should be a null value in the ind column. Call this table __trade2__. <br>
c. Using lj join __newInd__:([sym:\`A\`C]ind:\`Transport\`Healthcare;Ex:\`N\`P) and __trade2__. Describe how the returned table differs from __trade2__ <br>
d. Using ij join __newInd__ and __trade2__. Describe how the returned table differs from __trade2__ <br>

2)	Given: <br>
>__tab0__::([]a:1 2 3 2;b:\`x\`y\`z\`x) <br>
__tab1__:([]a:3 3 2 2;c:\`a\`b\`c\`d) <br>
Produce: <br>
 >a c b <br>
----- <br>
3 a z <br>
3 b z <br>
2 c y <br>
2 c x <br>
2 d y <br>
2 d x <br>

3)  Create the table t1:([] sym:`a`b`c`d; price:1 2 3 4f) <br>
>a. Use the join (,) syntax insert the symbols \`e->\`g and the prices 5->7.

## 11 Data Science Example

Here we are going to go through a data science example to apply q in the real life example. 
<br>

The dataset to be used in this example is a historical database of New York taxi trip records. 
<br>

First of all, download the dataset (__taxi.zip__) and unzip it to the desired directory. Load the table by __\l [Path to the directory]__.

In [87]:
\l C:\q\Training\taxi          // Change to your directory

We may check whether the table \`trips has been successfully loaded by running __tables[]__.

In [88]:
tables[]  //check if table called trips exists in session
\a

`a`abc`b`def`k`kt`kt1`t`trade`trips`v

`a`abc`b`def`k`kt`kt1`t`trade`trips`v

To obtain an overview of our dataset, you may also try the following codes:

In [89]:
count trips            // return the number of records in the table trips

meta trips               // return the table schema

// \c 20 200                  // you may need to adjust the console size before running the command for a large table

cols trips                 // return the column names

/select count i by "d"$pickup_time from trips

13014161

c           | t f a
------------| -----
month       | m
vendor      | s   p
pickup_time | p
dropoff_time| p
duration    | n
passengers  | h
distance    | f
start_long  | f
start_lat   | f
end_long    | f
end_lat     | f
payment_type| s
fare        | f
surcharge   | e
tip         | f
tolls       | f
total       | f

`month`vendor`pickup_time`dropoff_time`duration`passengers`distance`start_lon..

Following is some information that you can find out from the dataset via queries. Feel free to play around with it and find out more! 
<br>
- Find the timespan of the dataset

In [90]:
select distinct month from trips

select start: min pickup_time, end: max pickup_time from trips

month
-------
2014.12

start                         end
-----------------------------------------------------------
2014.12.01D00:00:00.000000000 2014.12.31D23:59:58.000000000

- Find all the vendors

In [91]:
select distinct vendor from trips

vendor
------
CMT
VTS

- Find the average duration, number of passengers, and travel distance of the trips

In [92]:
select "t"$avg "t"$duration, avg passengers, avg distance from trips
select min duration from trips

duration     passengers distance
--------------------------------
00:14:02.856 1.693723   2.925484

duration
----------------------
-24D13:53:15.000000000

- Find all the payment types

In [93]:
select distinct payment_type from trips

payment_type
------------
CRD
CSH
NOC
DIS
UNK

We would like to find out when the fare/tips/total will the highest/lowest.  First of all, we would like to create a temporary table that includes only the columns we are interested.

In [94]:
tbl:select pickup_time,dropoff_time,duration,distance,fare,tip,total,passengers from trips where distance > 0, duration > 0, fare > 0
// Clean the dataset with filters (where clause)

In [95]:
count trips
count tbl  //data is cleansed
select "t"$avg "t"$duration, avg passengers, avg distance from trips
select "t"$avg "t"$duration, avg passengers, avg distance from tbl
select min duration from trips
select min duration from tbl

13014161

12922832

duration     passengers distance
--------------------------------
00:14:02.856 1.693723   2.925484

duration     passengers distance
--------------------------------
00:14:08.749 1.695728   2.945785

duration
----------------------
-24D13:53:15.000000000

duration
--------------------
0D00:00:01.000000000

- Dates with fares in descending order

In [96]:
`fare xdesc select avg fare by `date$pickup_time from tbl

pickup_time| fare
-----------| --------
2014.12.11 | 13.79916
2014.12.12 | 13.6137
2014.12.01 | 13.51854
2014.12.04 | 13.48818
2014.12.03 | 13.31914
2014.12.10 | 13.31753
2014.12.18 | 13.23036
2014.12.28 | 13.21461
2014.12.05 | 13.0284
2014.12.19 | 13.02609
2014.12.27 | 13.02529
2014.12.15 | 12.96479
2014.12.17 | 12.96309
2014.12.14 | 12.96058
2014.12.08 | 12.90025
2014.12.02 | 12.86498
2014.12.09 | 12.85478
2014.12.16 | 12.75928
2014.12.13 | 12.73056
2014.12.07 | 12.67137
..

- Dates with tips in descending order

In [97]:
`tip xdesc select avg tip by `date$pickup_time from tbl

pickup_time| tip
-----------| --------
2014.12.11 | 1.83527
2014.12.10 | 1.794632
2014.12.04 | 1.756731
2014.12.18 | 1.74047
2014.12.03 | 1.736671
2014.12.12 | 1.730661
2014.12.09 | 1.713821
2014.12.17 | 1.710569
2014.12.01 | 1.698514
2014.12.02 | 1.667503
2014.12.16 | 1.665057
2014.12.08 | 1.663428
2014.12.15 | 1.661052
2014.12.19 | 1.650383
2014.12.05 | 1.636969
2014.12.14 | 1.539707
2014.12.07 | 1.520523
2014.12.13 | 1.481973
2014.12.20 | 1.418751
2014.12.06 | 1.408028
..

- Time with fares in ascending/descending order

In [98]:
`fare xdesc select avg fare by `minute$pickup_time from tbl
`fare xasc select avg fare by `minute$pickup_time from tbl

pickup_time| fare
-----------| --------
05:21      | 18.20881
05:09      | 18.19132
05:11      | 18.13571
05:20      | 18.07283
05:10      | 18.02784
05:26      | 17.8964
05:19      | 17.78354
05:18      | 17.71647
05:03      | 17.70632
05:07      | 17.66115
05:29      | 17.65334
05:17      | 17.64446
05:23      | 17.60149
05:25      | 17.5722
05:05      | 17.57167
05:02      | 17.56047
05:27      | 17.55039
05:16      | 17.53038
05:13      | 17.47886
05:24      | 17.47068
..

pickup_time| fare
-----------| --------
09:53      | 11.56359
07:49      | 11.62457
08:55      | 11.65367
09:50      | 11.68179
09:48      | 11.68962
08:51      | 11.70713
09:49      | 11.71536
10:49      | 11.71681
09:55      | 11.72005
08:54      | 11.72851
08:58      | 11.73385
09:51      | 11.73732
09:54      | 11.73773
07:51      | 11.76706
08:57      | 11.77197
08:52      | 11.78271
08:53      | 11.7861
08:48      | 11.78866
08:56      | 11.79016
07:52      | 11.79503
..

- Time with distance in ascending/descending order

In [99]:
`distance xdesc select avg distance by `minute$pickup_time from tbl
`distance xasc select avg distance by `minute$pickup_time from tbl

pickup_time| distance
-----------| --------
05:21      | 5.487089
05:11      | 5.464624
05:09      | 5.447568
05:26      | 5.436773
05:20      | 5.432908
05:10      | 5.431316
05:19      | 5.401716
05:18      | 5.362899
05:07      | 5.346654
05:23      | 5.343036
05:03      | 5.34201
05:02      | 5.319099
05:25      | 5.301917
05:24      | 5.271463
05:29      | 5.27079
05:13      | 5.267709
05:17      | 5.266827
05:27      | 5.263795
05:16      | 5.26087
05:04      | 5.245744
..

pickup_time| distance
-----------| --------
09:53      | 2.443559
10:49      | 2.451363
09:48      | 2.458342
09:55      | 2.458869
09:54      | 2.468306
09:50      | 2.469165
09:49      | 2.473114
11:53      | 2.481861
08:55      | 2.489207
09:51      | 2.491629
09:46      | 2.494914
10:51      | 2.49901
09:44      | 2.499709
09:57      | 2.504029
09:41      | 2.506015
18:48      | 2.509403
11:52      | 2.511586
18:56      | 2.511823
08:56      | 2.511841
08:58      | 2.513918
..

People tend to travel longer distances at midnights or in early mornings. <br>
- Date with fare rates (fare/distance) in descending order

In [100]:
`fare xdesc select avg fare%distance by `date$pickup_time from tbl

pickup_time| fare
-----------| --------
2014.12.10 | 6.699039
2014.12.03 | 6.69247
2014.12.09 | 6.643965
2014.12.04 | 6.562686
2014.12.12 | 6.53808
2014.12.05 | 6.439824
2014.12.11 | 6.435352
2014.12.16 | 6.431537
2014.12.02 | 6.406927
2014.12.18 | 6.406655
2014.12.13 | 6.387081
2014.12.08 | 6.36643
2014.12.19 | 6.326295
2014.12.23 | 6.314048
2014.12.17 | 6.283028
2014.12.15 | 6.223237
2014.12.06 | 6.205573
2014.12.22 | 6.149635
2014.12.01 | 6.122669
2014.12.30 | 6.113491
..

- Time with fare rates (fare/distance) in ascending/descending order

In [101]:
`fare xdesc select avg fare%distance by `minute$pickup_time from tbl
`fare xasc select avg fare%distance by `minute$pickup_time from tbl

pickup_time| fare
-----------| --------
12:07      | 10.17944
09:22      | 9.574109
17:37      | 8.635602
05:57      | 8.60148
05:49      | 8.498305
03:56      | 8.451475
16:35      | 8.373922
16:32      | 7.981874
05:16      | 7.790163
12:48      | 7.758775
17:06      | 7.748547
14:24      | 7.62671
13:26      | 7.541758
13:57      | 7.536162
14:41      | 7.533969
15:39      | 7.505089
16:56      | 7.50321
13:27      | 7.481291
12:33      | 7.458974
04:34      | 7.449334
..

pickup_time| fare
-----------| --------
05:19      | 4.264654
05:06      | 4.288985
05:27      | 4.397584
05:22      | 4.420064
05:11      | 4.422025
05:18      | 4.422866
04:58      | 4.429687
05:37      | 4.460829
05:38      | 4.470667
05:24      | 4.473243
04:36      | 4.473798
05:36      | 4.479375
05:30      | 4.479406
05:23      | 4.493723
05:13      | 4.51063
04:45      | 4.545609
04:30      | 4.54723
05:03      | 4.551771
05:04      | 4.564127
04:49      | 4.566758
..

Similar queries can be conducted on *tip/total* columns as well.

## 12 Group Exercise

For the group exercise, we have prepared a dataset of user browsing history. We would like you to first ingest this data from telco.csv by reading it into kdb, and then explore it to come up with some interesting insights with your groupmates.

__Agenda__
- Exploration time within the group (40 min)
- Sharing your findings (15 min)
- Conclusions and discussion (5 min)

<br>
Total time estimation: 1 hour

__Column details about the dataset__
>*imsi*: unique tag of each user <br>
*gender/age*: gender and age of each user <br>
*whatsapp/facebook/twitter*: the user's ranking based on his/her percentile time spent on each of these social apps/platforms (ensure these values are between 1-100) <br>
*site1/site2*: the top 2 most visited sites by the user sourced from an actual representation of real data online <br>
*cityRank1/cityRank2* & *cityUse1/cityUse2*: the ranking by user in terms of his usage in his city as seen in cityRank1, and same for cityUse2 in cityRank2 <br>

__Guidelines__
- Step 1: Read in the data <br>
telco:update \`u#imsi from ("JCHHHH**SSHH";enlist csv)0:\`:telco.csv

- Step 2: Validate/Clean the data <br>
As a data scientists, you should determine the validity of data before you carry out the data analysis. <br>
Following are some example questions that you may ask yourself: <br>
>1. Are the imsi's unique? <br>
//(count telco) - exec count distinct imsi from telco
>2. What is the age range for the dataset of users? <br>
// select min age, max age from telco
>3. How would you ensure the data in the whatsapp column is valid? <br>
//select min whatsapp, max whatsapp from telco
>4. Is each cityUse rank data unique for each city? <br>
//(count telco) - sum select count cityUse1  by cityRank1 from telco

- Step 3: Explore the data <br>
After you’ve ascertained the veracity of the data, it’s you time to explore the dataset with kdb and determine actionable insights!

<u>Here are some of the basic things I want to know about my data:</u>
1. How many records of data am I looking at?
2. What are the cities in the dataset?
3. Percentile of users in each 10-year age groups
>    ageG:{`$(string 10\*0.1+floor each (x-1)%10),'"-",'string 10*ceiling each x%10}<br>
> telcoNew:update agroup:ageG age from telcoNew

4. Distribution of males vs females
5. Distribution of users in CityRank1 and CityRank2
6. Average usage of whatsapp/facebook/twitter
7. Number of most popular sites visited by users (site1)
8. Number of second most popular sites visited by users (site2)
9. Total number of people visiting each of the top 10 most visited sites (site1)
10. Total number of people visiting each of the top 10 second most visited sites (site2)
11. Average usage of social platforms by gender
12. Average usage of social platforms by age group
13. Top 10 most frequently visited sites by gender
14. Top 10 most frequenty visited sites by age group

 <center><h1>Review / Q&A Section</h1></center>